{% extends 'admin.html.twig' %}

{% block title %}<title>Connection Admininstration blog.omegawebprod</title>{% endblock %}

    {% block adminMain %}
<div class="d-flex flex-column min-vh-100">
<section id="BlogPost manager">
<div class="container">
<div class="row">
<br>
<h3 class="text-center">BlogPost Admin</h3>
<hr class="star-primary">
    <div class="container">
        {% if arrayMessage.message == "false" %}
            {# nothing #}
        {% else %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>{{ arrayMessage.message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
<br>
<!--  **************************************************************** -->
<br>
<h4 class="text-center">Nouveau Post</h4> 
    <h7>* Tous les Auteurs sont des administrateurs</h7>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-highlight">
    <thead>
        <tr>
        <th scope="col">Titre</th>
        <th scope="col">Chapo</th>
        <th scope="col">Contenu</th>
        <th scope="col">Post Status</th>
        <th scope="col">Auteur / Email *</th>
        <th scope="col">Enregistrer</th>
        </tr>
    </thead>


    <form action="{{ baseUrl }}index.php?owp=newpostecord" method="post">    
    <tbody class="">
        <input type="hidden" name ="id" id="postId-new" class="form-control postId" type="text" value="{{array.postId}}" aria-label="readonly" readonly></input>
    <td>
        <div class="w-auto control-group">
            <textarea name="postTitle" class="form-control" id="postTitle-new" required data-validation-required-message="Veuillez entrer votre chapo.">{{array.postTitle}} </textarea>
        </div>
    </td>

    <td> 
        <div class="w-auto control-group">
            <textarea  name="postChapo" class="form-control" id="postChapo-new" required data-validation-required-message="Veuillez entrer votre chapo.">{{array.postChapo}} </textarea>
        </div>
    </td>

    <td> 
        <div class="w-auto control-group">
            <textarea name="postContent" class="form-control" id="postContent-new" required data-validation-required-message="Veuillez entrer votre contenu.">{{array.postContent}} </textarea>
        </div>
    </td>

    <td> 
        <select name ="postStatus" id="postStatus-new" class="form-select">
        <option selected>{{array.postStatus}}</option>  
        <option>Waiting for validation</option>
        <option>Open</option>
        {# <option>Closed</option> #}
        </select>
    </td>

    <td>
        <select name="user_id" id="emailUser-{{array.emailUser}}" class="form-select">
        <option value = "{{array.userId}}" selected>{{array.emailUser}}</option>
        {# arrayEmails is an other array #}
        {% for data in arrayEmails %}
        <option value="{{data.idlUser}}">{{data.emailUser}}</option>
        {% endfor %}
        </select>
    </td> 

    <td>
    <button type="submit" class="btn btn-success">Enregister</button> 
    </td>

</form>
</tbody>
</table>
</div>
</div>  
</div>   
<br>
<!--  **************************************************************** -->
<h4 class="text-center">Modifier un Post</h4> 
<br>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-highlight">
    <thead>
        <tr>
        <th scope="col"><span class="glyphicon glyphicon-trash"></span></th>
        <th scope="col">Titre</th>
        <th scope="col">Chapo</th>
        <th scope="col">Contenu</th>
        <th scope="col">Post Status</th>
        <th scope="col">Auteur / Email *</th>
        <th scope="col">Enregistrer</th>
        </tr>
    </thead>

{% for array in arrayTableModify %}

    <form action="{{ baseUrl }}index.php?owp=record&id={{array.postId}}" method="post">    
    <tbody class="">

    <td>
    <div class="w-auto control-group">
    <input type="checkbox" id="delete-{{array.postId}}" name="checkbox" value="{{array.postId}}">
    </div>
    </td>

    <input type="hidden" name ="id" id="postId-{{array.postId}}" class="form-control postId" type="text" value="{{array.postId}}" aria-label="readonly" readonly></input>

    <td>
        <div class="w-auto control-group">
            <textarea name="postTitle" class="form-control" id="postTitle-{{array.postId}}" required data-validation-required-message="Veuillez entrer votre chapo.">{{array.postTitle}} </textarea>
        </div>
    </td>

    <td> 
        <div class="w-auto control-group">
            <textarea  name="postChapo" class="form-control" id="postChapo-{{array.postId}}" required data-validation-required-message="Veuillez entrer votre chapo.">{{array.postChapo}} </textarea>
        </div>
    </td>

    <td> 
        <div class="w-auto control-group">
            <textarea name="postContent" class="form-control" id="postContent-{{array.postId}}" required data-validation-required-message="Veuillez entrer votre contenu.">{{array.postContent}} </textarea>
        </div>
    </td>

    <td> 
        <select name ="postStatus" id="postStatus-{{array.postId}}" class="form-select">
        <option selected>{{array.postStatus}}</option>  
        <option>Waiting for validation</option>
        <option>Open</option>
        <option>Closed</option>
        </select>
    </td>

    <td>
        <select name="user_id" id="emailUser-{{array.emailUser}}" class="form-select">
        <option value = "{{array.userId}}" selected>{{array.emailUser}}</option>
        {# arrayEmails is an other array #}
        {% for data in arrayEmails %}
        <option value="{{data.idlUser}}">{{data.emailUser}}</option>
        {% endfor %}
        </select>

    </td> 

    <td>
    <button type="submit" class="btn btn-success">Enregister</button> 
    <br> <br>
    </td>
</form>

{% endfor %}
</tbody>
</table>
    <span class="glyphicon">&#xe086;</span> Pour supprimer un article du blog, cliquez sur la case a cocher et cliquez sur le bouton enregistrer
</div>
</div>  
</div>   

<br>




</section>
</div>
<br>


{% endblock %}
