{% extends 'admin.html.twig' %}

{% block title %}<title>Connection Admininstration blog.omegawebprod</title>{% endblock %}

    {% block adminMain %}
<div class="d-flex flex-column min-vh-100">
<section id="inscription">
<div class="container">
<div class="row">
<br>
<h3 class="text-center">BlogPost Admin</h3>
<hr class="star-primary">
    <div class="container">
        <h4 class="text-center">Modifier un Post</h4> 
<hr>


<div>
<div>
<table class="table d-flex flex-column min-vh-100">
<thead>
    <tr>
    <th scope="col">id_Post</th>
    <th scope="col">Titre</th>
    <th scope="col">Chapo</th>
    <th scope="col">Contenu</th>
    <th scope="col">id User</th>
    <th scope="col">Prénom</th>
    <th scope="col">Nom</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Enregistrer</th>
    </tr>
</thead>

<tbody class="">

    {% for array in arrayTableModify %}
<tr>
    <th scope="row"> {{ array.postId }} </th>
<td>
    <textarea id="title">
    {{ array.postTitle }} 
    </textarea> 
</td>
<td>
    <textarea id="chapo">
        {{ array.postChapo }} 
    </textarea>    
</td>
<td>
    <textarea id="Contenu">
        {{ array.postContent }} 
    </textarea>
</td>
<td>
    <span>{{ array.userId }}</span>  
</td>
<td>
        {{ array.firstNameUser }} 
 
<td>
        {{ array.surNameUser }} 
</th>
<td>
    {{ array.emailUser }} 
<td> 
    {{ array.roleUser }}

</th>
</th>
<td>
    Enregister
</td>

{% endfor %}



</tbody>
</table>

</div></div>


<h4 class="text-center">Nouveau Post</h4> 

<table class="table d-flex flex-column min-vh-100">
<thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Titre</th>
    <th scope="col">Chapo</th>
    <th scope="col">Contenu</th>
    <th scope="col">Prénom</th>
    <th scope="col">Nom</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Enregistrer</th>
    </tr>
</thead>

{# New post #}
<tr>
    <th scope="row">1</th>
<td>
    <textarea id="titre">      
    </textarea> 
</td>
<td>
    <textarea id="chapo">
    </textarea>    
</td>
<td>
    <textarea id="Contenu">
    </textarea>
</td>
<td>
    <textarea id="prénom">
    </textarea>
<td>
    <textarea id="Nom">
    </textarea>
</th>
<td>
    <textarea id="email">
    </textarea>
<td>
    <select>
        <option value="">&nbsp;</option>
        <option value="Admin" selected="">Admin</option>
        <option value="User">User</option>
    </select>
</th>
<td>
    Enregister
</td>
</table>


</div>  
</div>   
</div>
</div>
</div>
<br>


 {% endblock %}
