{% extends 'base.html.twig' %}

{% block title %}<title>juste un article</title>{% endblock %}

{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if detail.postStatus == 'Open' %}
                <h1>{{detail.postTitle}}</h1>
                <h4><i class="bi bi-person-fill">&nbsp;&nbsp;</i>auteur : {{user.nameUser}} {{user.surNameUser}}</h4>
                <h6>Mise à jour le {{detail.postModified}}</h6>
                <hr class="star-light">
                {# todo : a condition post.postStatus = open # ... here not necessary the blogPost havebeen filtred
                before #}
                <p>&nbsp;&nbsp;</i>{{detail.postChapo}}
                <p>
                    <br>
                <p>{{detail.postContent}}</p>
                {# <a http://blog-omega.local/index.php?owp=bloglist#{{post.id}}" class="btn btn-primary btn-small"
                    role="button" title="Retour">Retour</a> #}
                <hr>
                {% else %}
                <h1>Désolé cet article est en attente de validation ou a été fermé</h1>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</header>
{% endblock %}

{# postComments
{# id CommentCreated commentStatus commentContent user_id blog_post_id blog_post_user_id #}
{% block myComments %}
<div class="d-flex flex-column min-vh-100">
    <div class="container">
        <h4 class="text-center">Commentaire(s)</h4>
        <hr>
        {% for comment in postComments %}
        {% if comment.commentStatus == 'Open' %}
        <div class="mb-3">
            </p><span class="bi bi-chat-left">&nbsp;&nbsp;</span>{{comment.commentContent}}<span></p>
        </div>
        {% endif %}
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}

    {% block giveComment %}
<div class="d-flex flex-column min-vh-100">
            <div class="container">
                    <h4 class="text-center">Ajouter un commentaire</h4>
                    <!-- form comment-->
                        <form name="giveComment" id="giveCommentForm">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Votre commentaire</label>
                                    <textarea rows="5" class="form-control" placeholder="Veuillez entrer votre commentaire" id="giveComment" required data-validation-required-message="Veuillez entrer un commentaire."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg disabled">Envoyer</button>
                                </div>
                        </form>
                        <div class="col-xs-12"></div>
                        <p>{{ app.request.getBaseURL() }}</p> 
                        <a href=  "{{ app.request.getBaseURL() }} index.php?owp=inscription"><button type="submit" class="btn btn-success btn-lg">Se connecter</button></a>
                        </div>
                        <br>
            </div>
</div>
    {% endblock %}


{# {% block inscription %}

"http://" .

<div class="d-flex flex-column min-vh-100">
    <div class="container">
        <h4 class="text-center">Connectez vous ou inscrivez vous pour pouvoir laisser un commentaire</h4>
        <form <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
            <div class="form-text">Votre Email ne sera ni partagé ni vendu</div>
            <br>
            <label for="fname" class="form-label">Prénom</label>
            <input type="fname" class="form-control" id="fname" Prenom="fname">
            <div class="form-text">Votre Prénom</div>
            <br>
            <label for="surName" class="form-label">Nom</label>
            <input type="fname" class="form-control" id="fname" name="fname">
            <div class="form-text">Votre Nom</div>
            <br>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
        <br />
    </div>
</div>
{% endblock %} #}