{% extends 'base.html.twig' %}

{% block title %}<title>Un article de OmegaWebProduct</title>{% endblock %}

{% block header %}
<header>
    <div class="container">
        <div class="row">

            {% if arrayMessage.message != false  %}
                <div class="alert alert-success alert-dismissible">
                <strong>Bravo vous êtes connecté {{ arrayMessage.message}}</strong>
                </div>
            {% endif %}

            <div class="col-lg-12">
                {% if detail.postStatus == 'Open' %}
                <h1>{{detail.postTitle}}</h1>
                <h4><i class="bi bi-person-fill">&nbsp;&nbsp;</i>auteur : {{user.firstNameUser}} {{user.surNameUser}}</h4>
                <h6>Mise à jour le {{detail.postModified}}</h6>
                <hr class="star-light">
                {# todo : a condition post.postStatus = open # ... here not necessary the blogPost have been filtred
                before #}
                <p>&nbsp;{{detail.postChapo}} </p>
                <br>
                <p>{{detail.postContent}}</p>
                <a href = "{{ baseUrl }}index.php?owp=bloglist#{{detail.idPost}}" class="btn btn-primary btn-small"
                    role="button" title="Retour">Retour</a>
                <hr>
                {% else %}
                <h1>Désolé cet article est en attente de validation ou a été fermé</h1>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</header>
{% endblock %}

{% block myComments %}
<div class="d-flex flex-column min-vh-100">
    <div class="container">
        <h4 class="text-center">Commentaire(s)</h4>
        <hr>
        {% for comment in postComments %}
        {% if comment.commentStatus == 'Open' %}
        <div class="mb-3">
            </p><span class="bi bi-chat-left">&nbsp;&nbsp;</span>{{comment.commentContent}}<span></p>
        </div>
        {% endif %}
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block giveComment %}
<div class="d-flex flex-column min-vh-100">
            <div class="container">
                    <h4 class="text-center">Ajouter un commentaire</h4>
                    <!-- form comment -->
                        <form name="giveComment" id="giveCommentForm">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Votre commentaire</label>
                                    <textarea rows="5" class="form-control" placeholder = "rédigez votre commentaire"  id="giveComment" required data-validation-required-message="Veuillez entrer un commentaire."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg">Envoyer votre commentaire</button>
                                    <p><small><i>Votre commentaire sera soumis à une validation de nos modérateurs avant affichage</i></small></p>
                            </div>
                        </form>

                        <a href="{{ app.request.getBaseURL() }} index.php?owp=connexion&id={{detail.idPost}}"><button type="submit" class="btn btn-success btn-lg">Se connecter</button></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a  href="{{ app.request.getBaseURL() }} index.php?owp=inscription"><button type="submit" class="btn btn-success btn-lg">Créer son compte</button></a>
                        {# <p><small><i>Pour écrire un commentaire</i></small></p> #}
            </div>
    </div>

</div>
<br>
{% endblock %}
