{% extends 'base.html.twig' %}

{% block title %}<title>Listing des articles du Blog</title>{% endblock %}

{% block header %}
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Listing des articles</h1>
                <hr class="star-light">
                {% for post in posts %}
                {% if post.postStatus == 'Open' %}
                <h2 id="{{post.id}}">{{post.postTitle}}</h2>
                <h6>Dernière modification : {{post.frenchModifiedDate}}</h6> {# id fot eventualy for ana
                anvhor #}
                <p>{{post.postChapo}}</p>
                <a href="index.php?owp=bloglist&id={{post.id}}" class="btn btn-primary btn-small" role="button"
                    title="En savoir plus ?">En savoir plus</a>
                <hr>
                {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</header>

<!-- if necessary for pagination
<nav aria-label="Page pagination" class="text-center">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">suivant</a></li>
  </ul>
</nav> -->

{% endblock %}
